*{
    margin: 0;
    padding:0;
}

body{
  background-color: #f1f1f1 ;  
}

.header{
    background-image: url(bg/sci-center-3.jpg);
}

.top {
    text-align: center;
    padding: 80px 100px;
    margin-bottom: 2em;
    font-size:30px;
    font-family: Montserrat,"Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 200;
    line-height: 60px;
    color: #000000;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.cards{
    margin: 5%;
    width: 80%;
   /* height: 40px;*/
    background-color: white ;
    border-radius: 1em;
    box-shadow: 9px 9px 40px #bfbfbf;
}

.row{
    display: flex;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 200px;
    height:auto;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

}

.cards-info{
    padding: 1.5em;
    padding-bottom: 1em;
}

.cards-info >h1{
    font-size: 1.5em;
    color:#222222;
}

.cards-info >p{
    font-size: 1em;
    color: #22222299;
    text-align: justify;
    line-height: 170%;
    margin-top: 1em;
}

.cards-info button{
    outline: none;
    padding: 10px 15px;
    font-weight: bolder;
}

#more{
    display: none;
}

@media only screen and (max-width: 1024px) {
 
    .container{
        display: grid;
        grid-template-columns: auto auto;
    }


body{
    background-color: #f1f1f1 ;  
    max-width: 100%;
    overflow-x: hidden;
  }
   
    .top {
        max-width: 100%;
        overflow-x: hidden;
        text-align: center;
        padding: 30px 30px;
        font-size:20px;
        font-family: Montserrat,"Helvetica Neue", Arial, Helvetica, sans-serif;
        font-weight: 100;
        line-height: 50px;
        color: #000000;
    }
    
}

@media only screen and (max-width: 800px) {
 
    .container{
        display: grid;
        grid-template-columns: auto;
    }
   
    .top {
        max-width: 100%;
        overflow-x: hidden;
        text-align: center;
        padding: 40px 40px;
        font-size:20px;
        font-family: Montserrat,"Helvetica Neue", Arial, Helvetica, sans-serif;
        font-weight: 100;
        line-height: 50px;
        color: #000000;
    }
    
}
@media only screen  and (max-width: 375px){
    
.container{
    display: grid;
    grid-template-columns: auto;
}

.top {
    max-width: 100%;
    overflow-x: hidden;
    text-align: center;
    padding: 40px 40px;
    font-size:20px;
    font-family: Montserrat,"Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 100;
    line-height: 50px;
    color: #000000;
}
}